.popular-categories {
    text-align: center;
    padding: 20px;
}

.popular-categories-header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.popular-category h2 {
    font-size: 24px;
    margin: 0; 
}

.popular-category-container {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
}

.popular-category-container a {
    text-decoration: none;
    color: inherit;
}

.popular-category {
    margin: 0 0.6rem;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    text-align: center;
}

.popular-category img {
    max-width: 100%;
    height: auto;
}

.popular-category-desc {
    padding: 0.9rem;
}

.popular-category-desc h3 {
    font-size: 1.1rem;
    margin: 0;
}
